body {
    background-attachment: fixed;
    background-image: url('../images/background.jpg');
    background-position: left top;
    font-family: 'Nothing You Could Do', cursive;
    padding: 1em 1em 9em 8em;
}

header {
    background-color: white;
    border-radius: .5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    padding: .5em 1.5em .5em .5em; 
    position: fixed;
    width: calc(100% - 9.5em);
    z-index: 1;
}

header #country_flag {
    vertical-align: sub;
}

article {
    margin-top: 6.666em;
}

footer {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    padding-top: 1em;
    transition: .75s;
}

footer img {
    max-height: none;
    transition: .75s;
}

footer:not(:hover) {
    font-size: 5px !important;
}

footer:not(:hover) img {
    max-height: 5px;
}

footer ul, ol {
    display: inline-block;
    list-style-type: none;
    padding-inline-start: 0;
}

footer li {
    display: inline-block;
    margin: 0 .5em .5em;
}

footer li .country_flag {
    vertical-align: sub;
}

h1 {
    font-size: 2em;
}
