{% extends 'layout/default.html' %}

{% block article %}
    {% if data['current_country'] != 'all' %}
        <h1>{{ t("Country") }}: <strong>{{ t(data['country_names'][data['current_country']]) }}</strong></h1>
        <p>{{ t("Population") }}: <strong>{{ "{:,}".format(data['country_data']['population']) }}</strong></p>
        <br />
        <h2>{{ t("Data for 2020") }}</h2>
        {% include 'plots/' + data['current_country'] + '_2020.html' %}
        <br />
        <h2>{{ t("Data for 2021") }}</h2>
        {% include 'plots/' + data['current_country'] + '_2021.html' %}
    {% endif %}
{% endblock %}
